.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: darkblue;
    max-width: 20%;
    border-radius: 5px;
    min-height: 5vh;
    padding: 10px;
}

.soru-ekle {
    margin-top: 15%;
    border: solid 3px white !important;
}

#coktan-secmeli-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#coktan-secmeli-dialog-content input {
    margin: 5px;
    paddin: 10px;
    min-width: 500px;
}